@font-face{
	font-family:'MaplestoryLight'; 
	src: url('https://tistory1.daumcdn.net/tistory/4939852/skin/images/MaplestoryLight.woff') format('woff');
	font-display: swap;
}

*,*:before,*:after {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body,input,textarea,select, button {
  font-family:MaplestoryLight;
}
::placeholder {
  color:#999;
}
::-webkit-input-placeholder {
  color:#999;
}
.black-nav {
  padding:20px;
  color:#222;
  background:burlywood;
}
.list {
  padding:15px 20px;
  border-bottom:1px solid #888;
}
.list h4 {
  padding-left:5px;
  line-height:24px;
  color:aquamarine;
  background:#000;
  margin-bottom:5px;
}
.list p {
  margin-top:5px;
  position:relative;
  padding-left:10px;
}
.list p:before {
  content:'';
  display:inline-block;
  width:5px;
  height:5px;
  background:blueviolet;
  position:absolute;
  left:0;
  top:7px;
}
.good {
  color:antiquewhite;
}
.modal_wrap {
  width:100%;
  height:100%;
  left:50px;
  right:50px;
}
.modal_dim {
  position:fixed;
  width:100%;
  height:100%;
  background:#000;
  opacity:.3;
  left:0;
  right:0;
  top:0;
  bottom:0;
}
.modal {
  background:#fff;
  border-radius:10px;
  padding:20px;
  position:absolute;
  z-index:1;
  left:50px;
  right:50px;
  top:50%;
  transform:translateY(-50%);
}
.modal h4 {
  margin-bottom:10px;
  background:goldenrod;
  color:#fff;
  font-weight:400;
  padding:10px;
}
.modal p {
  padding:10px 0;
}
.modal_btn {
  margin-top:10px;
}
.modal_btn button {
  width:100%;
  height:30px;
}
.switch {
  margin:10px 0;
}
.switch {
  position:relative;
  display:inline-block;
  width:60px;
  height:30px;
}
.switch input {
  position:absolute;
  border:0;
  width:100%;
  height:100%;
  opacity:0;
}
.switch input + .switch_lbl {
  display:inline-block;
  width:100%;
  height:30px;
  background:#999;
  border-radius:15px;
}
.switch input + .switch_lbl:before {
  content:'';
  display:inline-block;
  width:30px;
  height:30px;
  background:crimson;
  border-radius:100%;
  position:absolute;
  left:0;
  transition:all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.switch input:checked + .switch_lbl:before {
  left:30px;
  background:green;
}

.Nav_bar {
  background:#000;
  color:#fff;
  padding:20px;
}
.Nav_bar a {
  color:#fff;
  margin-left:20px;
}

.Nav_bar a:first-child {
  margin-left:0;
}
.align_c {
  text-align:center;
}

.fashions {
  display:table;
  width:100%;
  table-layout: fixed;
}
.fashions_item {
  display:table-cell;
  width:33.333%;
  text-align:center;
}
.fashions_item img {
  vertical-align: top;
}